/* login box center */
.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .headline{
    color: blueviolet;
    justify-content: center;
  }
  .loginHeader{
    color: blue;
    justify-content: center;
    margin-left: 100px;
  }

  .btn_login{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
  }
  .btn_login:hover{
    background: #3498db;
    color: #fff;
  }